<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="username" value="nanamantiwari@gmail.com" />
        <add key="password" value="Naman@69" />
        <add key="originalResumePath" value="F:\My documents\Resume\March2025\personal mail\NamanTiwari_CombinedMar2025_Resume.pdf" />
    </appSettings>
</configuration>